*
!/**/
!*.*
makefile
checks/*.f90
checks/stats.txt
### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
build/mcc*
build/*.c
gpl
*.out
*.o
*.mod
*.smod
.DS_Store
*.a